In [1]:
import pandas as pd

In [2]:
amazon_df = pd.read_csv('df_limpios\DF_Amazon.csv')
disney_df = pd.read_csv('df_limpios\DF_Disney.csv')
hulu_df = pd.read_csv('df_limpios\DF_Hulu.csv')
netflix_df = pd.read_csv('df_limpios\DF_Netflix.csv')

In [32]:
amazon_df.head(1)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,ts1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min

In [28]:
def contar_datos(dataframe):
   if dataframe == "1" or dataframe == "amazon":
      cant_peliculas =amazon_df[amazon_df["type"] == "movie"]
      return cant_peliculas.shape[0]
   elif dataframe == "2" or dataframe == "netflix":
      cant_peliculas =netflix_df[netflix_df["type"] == "movie"]
      return cant_peliculas.shape[0]
   elif dataframe == "3" or dataframe == "disney":
      cant_peliculas =disney_df[disney_df["type"] == "movie"]
      return cant_peliculas.shape[0]
   elif dataframe == "4" or dataframe == "hulu":
      cant_peliculas =hulu_df[hulu_df["type"] == "movie"]
      return cant_peliculas.shape[0]
   else:
      return "error:plataforma incorrecta"

In [ ]:
def contar_peliculas(dataframe):
   #este def contara solo las "movie" de cada plataforma, y las devolvera
   if dataframe == "1" or dataframe == "amazon":
      cant_peliculas =amazon_df[amazon_df["type"] == "movie"]
      return cant_peliculas.shape[0]
   elif dataframe == "2" or dataframe == "netflix":
      cant_peliculas =netflix_df[netflix_df["type"] == "movie"]
      return cant_peliculas.shape[0]
   elif dataframe == "3" or dataframe == "disney":
      cant_peliculas =disney_df[disney_df["type"] == "movie"]
      return cant_peliculas.shape[0]
   elif dataframe == "4" or dataframe == "hulu":
      cant_peliculas =hulu_df[hulu_df["type"] == "movie"]
      return cant_peliculas.shape[0]
   else:
      return "error:plataforma incorrecta"

In [31]:
contar_datos(str("4"))

1484